* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  padding-top: 90px;
}

.header {
  padding: 7px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 12px 20px -10px rgba(0, 91, 255, 0.08);
  background: #fff;
}

.header-block {
  max-width: 1530px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-link {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  padding-right: 30px;
}

.navigation-link:last-child {
  padding-right: 0;
}

.phone-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.phone-link .ph:hover {
  color: #280783;
}

.number-ph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #5622e5;
}

.ph {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}

.sections {
  max-width: 1530px;
  margin: auto;
  background: #fff;
}

.b-1 {
  max-width: 1530px;
  margin: auto;
  background: #fff;
  display: flex;
}

.b-1_lcontent {
  display: flex;
  flex-direction: column;
}

.b-1_title {
  width: 880px;
  margin-top: 162px;
  margin-bottom: 59px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.03em;
}

.b-1_title span {
  font-weight: 800;
  font-size: 54px;
}

.b-1_subtitle {
  width: 660px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.06em;
}

.b-1_subtitle span {
  font-weight: 600;
}

.btn {
  width: 360px;
  margin-top: 60px;
  padding: 31px 103px;
  text-align: center;
  background: #5622e5;
  box-shadow: 0px 16px 60px -10px rgba(86, 34, 229, 0.7);
  border-radius: 50px;
  outline: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.swipe-down {
  margin-top: 62px;
  display: flex;
  justify-content: flex-end;
}

.swipe_d {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe_d span {
  margin-bottom: 9px;
  color: #5622e5;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.06em;
}

.b-1_right {
  margin-top: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 529px;
  border-radius: 50%;
  background: linear-gradient(223.82deg, #5420e5 15.92%, #7745d4 84.25%);
}

.photo {
  border-radius: 0 0 138px 214px;
  padding-bottom: 78px;
  margin-left: -81px;
}

.b-2 {
  max-width: 1530px;
  margin: auto;
  background: #fff;
}

.b-2_title {
  display: flex;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-top: 70px;
  margin-bottom: 50px;
  align-items: center;
}

.b-2_title::before {
  display: block;
  content: "";
  width: 130px;
  height: 2px;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  border-radius: 3px;
  margin-left: -200px;
  margin-right: 70px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage {
  max-width: 360px;
  width: 100%;
  height: 193px;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  box-shadow: 0px 4px 6px rgba(101, 50, 222, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 30px;
  margin-bottom: 30px;
}

.advantage span {
  margin-top: 30px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.b-2_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.b-2_footer span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-top: 30px;
}

.b-2_gap {
  background: #f0f0f0;
  width: 100%;
  height: 125px;
  max-width: 1530px;
  margin: auto;
}

.b-2_gap div {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 75%;
}

.b-3 {
  background: #f0f0f0;
}

.wrapper {
  background: #f0f0f0;
  max-width: 1530px;
  margin: auto;
}

.b-3_title {
  display: flex;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 21px;
  align-items: center;
}

.b-3_title::before {
  display: block;
  content: "";
  width: 130px;
  height: 2px;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  border-radius: 3px;
  margin-left: -200px;
  margin-right: 70px;
}

.b-3_content {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}

.b-3_left {
  width: 45%;
}

.b-3_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.opportunity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}

.opportunity:last-child {
  margin-bottom: 0;
  margin-top: 20px;
}

.b-3_op__text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-left: 65px;
}

.b-3_op__text span {
  font-weight: 600;
  margin: 0;
}

.b-3_right {
  margin-left: 21px;
}

.b-3_right iframe {
  box-shadow: 0px 16px 60px -10px rgba(86, 34, 229, 0.2);
  border-radius: 20px;
}

.b-3_gap {
  transform: rotate(180deg);
  background: #f0f0f0;
  width: 100%;
  height: 125px;
  max-width: 1530px;
  margin: auto;
}

.b-3_gap div {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 25%;
}

.b-4 {
  max-width: 1530px;
  margin: auto;
  background: #fff;
}

.b-4_title {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.b-4_title::before {
  display: block;
  content: "";
  width: 130px;
  height: 2px;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  border-radius: 3px;
  margin-left: -200px;
  margin-right: 70px;
}

.b-4_text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.b-4_text span {
  font-weight: 600;
}

.b-4_play {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-img {
  position: absolute;
  height: 240px;
  width: 300px;
  background: #4723ad;
  border-radius: 10px;
  z-index: 0;
  margin-top: 5px;
  margin-left: 35px;
}

.play-img {
  z-index: 1;
}

.b-4_playtex {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.b-4_playtex span {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.b-4_advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 95px;
}

.b-4_advantage {
  width: 50%;
  display: flex;
  align-items: center;
}

.b-4_advantage span {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.b-4_advantage .number {
  margin-right: 30px;
  margin-left: 25px;
  font-family: Gilroy;
  font-weight: normal;
  font-size: 150px;
  line-height: 174px;
  letter-spacing: 0.06em;
  -webkit-text-stroke: 2px #7745d4;
  color: transparent;
}

.b-5 {
  max-width: 1530px;
  margin: auto;
  background: #fff;
}

.b-5_title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}

.b-5_title::before {
  display: block;
  content: "";
  width: 130px;
  height: 2px;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  border-radius: 3px;
  margin-left: -200px;
  margin-right: 70px;
}

.b-5_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}

.need {
  padding: 30px 12px;
  width: 230px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(222.96deg, #5420e5 15.68%, #7745d4 82.97%);
  box-shadow: 0px 16px 50px -10px rgba(86, 34, 229, 0.5);
  border-radius: 10px;
}

.need span {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
}

.step span {
  margin-top: 35px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333333;
}

.arrow-top {
  margin-bottom: 160px;
  fill: #7745d4;
}

.arrow-bot {
  fill: #7745d4;
  margin-bottom: -160px;
}

.b-5_end {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b-5_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333333;
}

.b-5_text span {
  font-size: 20px;
  font-weight: 700;
}

.footer {
  margin-top: 70px;
  padding: 7px 0;
  background: #333333;
}

.footer-block {
  max-width: 1530px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  margin-left: 110px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-number {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
